<template>
    <style>
        .table {
            margin: 0 auto;
            float: none;        }
    </style>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Status</td>
            <td>Title</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>done</td>
            <td>sss</td>
            <td>Date</td>
        </tr>
        <tr>
            <td>done</td>
            <td>ddddd</td>
            <td>Date</td>
        </tr>
        <tr>
            <td>done</td>
            <td>ffff</td>
            <td>Date</td>
        </tr>
        </tbody>
    </table>
</template>